.header__bar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  // &--logo {
  //   width: 150px;
  // }
  &--userName {
    margin-right: 30px;
    font-size: 22px;
  }
}
